@import url('https://fonts.googleapis.com/css?family=Satisfy');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
font-family: 'Satisfy', cursive;
font-size: 20px;
font-style: bold;
}


#BackgroundCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -2;
}

#output {
  text-align: center;
}

.center-div {
border: double black;
border-width: 2px 10px 4px 10px;;
background-color: #12FBFF;
text-align: center;
font-size: 50px;
/*margin: 10%;*/
}

.header {
	background-color: #0271E8;
	border-style: groove ridge inset;
	border-width: 20px;
	border-color: #0DE0FF;
	margin: auto;
  padding: 5px;
	width: 20%;
	height: 15%;
	text-align: center;
}

.header h1 {
  color: white;
  font-size: 30px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	background-color: #0271E8;
	border-style: groove ridge inset;
	border-width: 15px;
	border-color: #0DE0FF;
  float: right;
	margin-top: 2%;
	margin-right: 30%;
  width: 40%;
	height: 100%;
}

.rightcolumn {
	background-color: #0271E8;
	background-position: left;
	border-style: groove ridge inset;
	border-width: 15px;
	border-color: #0DE0FF;
  float: left;
	margin-left: 10%;
	margin-top: 2%;
  width: 15%;
	height: 50%;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  padding: 10px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  border: solid;
  border-background: blue;
  float: left;
	margin-top: 10px;
	margin-left: 2%;
  text-align: center;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
